<nav>
    <div class="logo">
      <span class="logo-name">TheTestPulse</span>
    </div>
    <div class="sidebar-content">
      <ul class="lists">
        <li class="list">
          <a href="/admin" class="nav-link">
            <i class="bx bx-home-alt icon"></i>
            <span class="link">Dashboard</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-bar-chart-alt-2 icon"></i>
            <span class="link">Revenue</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-bell icon"></i>
            <span class="link">Notifications</span>
          </a>
        </li>
        <li class="list">
          <a href="/admin/allcomplaints" class="nav-link">
            <i class="bx bx-message-rounded icon"></i>
            <span class="link">Messages</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-pie-chart-alt-2 icon"></i>
            <span class="link">Analytics</span>
          </a>
        </li>
        <li class="list batch-dropdown">
          <a href="test/testportal" class="nav-link">
            <i class="bx bx-book icon"></i>
            <span class="link">Test Portal</span>
          </a>
          <ul class="dropdown">
              <li><a href="/test/testportal">TestPortal</a></li>
              <li><a href="/test/create">Create From Library</a></li>
              <li><a href="/test/admin/create">Create Manually</a></li>
              <li><a href="/create/question/bank">Create Library</a></li>
              <li><a href="/student/tests">All Tests</a></li>
            </ul>
        </li>
        <li class="list batch-dropdown">
          <a href="#" class="nav-link">
            <i class="bx bx-folder-open icon"></i>
            <span class="link">Batch</span>
          </a>
          <ul class="dropdown">
            <li><a href="/showallbatches">All Batches</a></li>
            <li><a href="/admin/createnewbatch">Create a Batch</a></li>
          </ul>
        </li>
        
      </ul>
      <div class="bottom-cotent">
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-cog icon"></i>
            <span class="link">Settings</span>
          </a>
        </li>
        <li class="list">
          <a href="/user/logout" class="nav-link">
            <i class="bx bx-log-out icon"></i>
            <span class="link">Logout</span>
          </a>
        </li>
      </div>
    </div>
  </nav>