<div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container ">
          <div class="row">
            <div class="col-md-6 ">
              <div class="detail-box">
                <h1>
                  The Test Pulse
                </h1>
                <p>
                    The Test Pulse is an innovative online platform dedicated to enhancing educational experiences through comprehensive testing solutions. It allows students to assess their knowledge and skills, track their progress, and get insights that drive improvement. With a vast range of test options and a user-friendly interface, The Test Pulse serves schools, coaching centers, and individuals alike, offering customizable tests across various subjects. Its data-driven analytics help students understand their strengths and weaknesses, while teachers and institutions can use these insights to tailor their instruction. The Test Pulse stands as a reliable, efficient tool for modern educational assessment.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-box">
                <img src="images/student.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
      <li data-target="#customCarousel1" data-slide-to="1"></li>
      <li data-target="#customCarousel1" data-slide-to="2"></li>
    </ol>
  </div>