    <div class="animation-container">
        <img class="rocket" src="../images/rocket.png" alt="">
        <img class="burst" src="../images/logo.png" alt="">
        <div class="logo">The Test Pulse</div>
    </div>
