<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/sidebar.css">

</head>
<body>


<div id="main">

<div id="content-div">
    <div>
            <button class="button-86" role="button"><a href="/test/admin/create">Create New Test</a></button>
            <button class="button-86" role="button"><a href="/test/create">Create From Library</a></button>
            <button class="button-86" role="button"><a href="/create/question/bank">Create Library</a></button>
            <button class="button-86" role="button"><a href="/student/tests">Show All</a></button>
            <button class="button-86"><a href="/blogs/new"> New blog</a></button>
            <button class="button-86"><a href="/currentaffairs/create/new">New currentaffair</a></button>
            <button class="button-86"><a href="/jobs/newopenings">New Job</a></button>
    </div>
</div>

    <div id="header-div-cpm">
        <%- include('../components/admin-sidebar.ejs') %>
    </div>
</div>

</body>
</html>