<div class="stats">
    <div id="links" style="display: flex; gap: 10px;">

      <div>
         <div class="stat-card" style="margin-top: 10px;">
          <i class="fas fa-book-reader icon-green">
          </i>
          <h3>
            <%= details.questions %>
          </h3>
          <p>
           Total Questions
          </p>
         </div>
      </div>

      <div>
        <div class="stat-card">
          <i class="fas fa-book-reader icon-purple">
          </i>
          <h3>
            <%= details.tests %>
          </h3>
          <p>
           Total Tests
          </p>
         </div>
      </div>
      
    </div>

   </div>